/target
.idea
.vscode
.test-projects
__pycache__
.pixi
.build
.DS_store
site/
.cache
pytest-temp

# diff-jve: Ignore additional intermediate files
/.git/
.cspell/
.mypy_cache/
.venv/
